<hibernate-configuration>
    <session-factory>
        <!-- Driver y URL de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>

        <!-- Credenciales -->
        <property name="hibernate.connection.username">bibliotecario</property>
        <property name="hibernate.connection.password">AmoLosLibros123</property>

        <!-- Dialecto de Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración adicional -->
        <property name="hibernate.show_sql">true</property>
        <!--
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        -->
        <mapping class="Ejercicio.Autor"/>
        <mapping class="Ejercicio.Libro"/>
    </session-factory>
</hibernate-configuration>
